*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    align-content: center;
    background-color: blue;
    color: black;
    height: 100vh;
    
}